---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ContactForm from "./contact/_Form.svelte";

let links = await getCollection('links');
let contacts = links.filter(link => link.data.type === 'contact');
let socials = links.filter(link => link.data.type === 'social');
---

<Layout title="Contact | Christian Tanul" description="Contact me for any inquiries, questions, or just to say hi!">
  <section class="my-12 sm:my-24 lg:my-36 flex flex-col items-center size-full justify-center">
    <ContactForm client:load />

    <div class="flex gap-2 sm:gap-3 mt-6 sm:mt-9">
      {contacts.map(contact =>
        <a href={contact.data.href} aria-label={contact.data.label} title={contact.data.value} target="_blank" class="inline-grid place-content-center p-2 rounded-lg outline-none outline-1 text-neutral-600 dark:text-neutral-400 hover:bg-neutral-400/10 hover:text-neutral-800 focus:text-neutral-800 dark:hover:text-neutral-200 dark:focus:text-neutral-200 focus:bg-neutral-400/10 focus:border-transparent focus:outline-red-800/50 dark:focus:outline-amber-500/50 duration-200">
          <iconify-icon icon={contact.data.icon} class="text-lg" />
        </a>
      )}
      <div class="w-[1px] border-r border-neutral-400/10"></div>
      {socials.map(contact =>
        <a href={contact.data.href} target="_blank" aria-label={contact.data.label} title={contact.data.value} class="inline-grid place-content-center p-2 rounded-lg outline-none outline-1 text-neutral-600 dark:text-neutral-400 hover:bg-neutral-400/10 hover:text-neutral-800 focus:text-neutral-800 dark:hover:text-neutral-200 dark:focus:text-neutral-200 focus:bg-neutral-400/10 focus:border-transparent focus:outline-red-800/50 dark:focus:outline-amber-500/50 duration-200">
          <iconify-icon icon={contact.data.icon} class="text-lg" />
        </a>
      )}
    </div>
  </section>

  <Fragment slot="footer">
    <footer class="flex flex-col items-center justify-center mb-4 mt-16">
      <span class="text-xs text-neutral-700 dark:text-neutral-400 mt-4">Copyright © {new Date().getFullYear()} Christian Tanul</span>
    </footer>
  </Fragment>
</Layout>
