---
import { Icon } from "astro-icon/components";

const {
  order,
  title,
  duration,
  description,
  learningPoints,
  tools,
  includesBonus,
  class: classList,
} = Astro.props;
---
<div
  class:list={[
    classList,
    `relative w-full overflow-hidden rounded-3xl border border-neutral bg-neutral/10 p-8 lg:p-10 text-lg shadow-lg`,
  ]}>
  <span class=`absolute right-8 top-8 text-4xl text-amber-500 lg:right-10 lg:top-10`>{order}</span>
  <div class="mb-2 flex items-center justify-start">
    <div class="flex flex-col items-start">
      <h2 class=`mb-2 bg-gradient-to-br from-amber-400 to-orange-500 bg-clip-text text-2xl font-semibold text-transparent`>{title}</h2>
      <div class="inline-flex items-center">
        <Icon name="ri:time-line" class=`me-2 size-6 text-amber-500` />
        <p>{duration}</p>
      </div>
    </div>
  </div>
  <p class="mb-6 font-light lg:mb-8">
    {description}
  </p>
  <p class="mb-2 inline-flex items-center font-semibold">
    <Icon name="ri:scales-fill" class=`me-2 size-6 text-amber-500` />
    Learn How To
  </p>
  <ul class="mb-6 space-y-0.5 font-light lg:mb-8">
    {
      learningPoints.map((point, index) => (
        <li>
          {index + 1}. <Fragment set:html={point} />
        </li>
      ))
    }
  </ul>
  {
    includesBonus && (
      <p class="inline-flex items-center font-semibold">
        <Icon name="ri:gift-fill" class=`me-2 size-6 text-amber-500` />
        Bonus
      </p>
      <p class="mb-6 font-light lg:mb-8">
        <slot name="bonus" />
      </p>
    )
  }
  <p class="inline-flex items-center font-semibold">
    <Icon name="ri:bard-fill" class=`me-2 size-6 text-amber-500` />
    Result
  </p>
  <p class="mb-6 font-light lg:mb-8">
    <slot name="result" />
  </p>
  <p class="mb-3 inline-flex items-center font-semibold">
    <Icon name="ri:tools-fill" class=`me-2 size-6 text-amber-500` />
    Tools Learned
  </p>
  <div class="flex flex-wrap items-center justify-start gap-2">
    {
      tools.map((tool) => (
        <a
          href={tool.link}
          target="_blank"
          class:list={[
            tool.classList,
            "flex items-center gap-2 whitespace-nowrap rounded-full border bg-white bg-opacity-[1%] px-3 py-1.5 leading-snug shadow duration-300 ease-in-out hover:scale-105 hover:shadow-none",
          ]}>
          <Icon name={tool.icon} class="size-5" />
          {tool.name}
        </a>
      ))
    }
  </div>
</div>
