---
const { data, slug } = Astro.props;
---

<a
  href={`/work/${slug}`}
  class="group relative flex cursor-pointer flex-col items-center justify-center rounded-3xl border border-zinc-600 bg-white transition-all hover:shadow-md">
  <div
    class="absolute left-0 top-4 z-50 m-2 flex items-center whitespace-nowrap rounded-2xl border border-zinc-700 bg-white/95 px-4 py-4 opacity-100 transition-opacity ease-out group-hover:opacity-0">
    <div class="flex items-center text-zinc-900">
      {data.title}
      <svg
        class="-mr-1 ml-2 mt-0.5 stroke-[currentColor] stroke-2"
        fill="none"
        width="11"
        height="11"
        viewBox="0 0 10 10"
        aria-hidden="true">
        <path d="M1 1l4 4-4 4"></path>
      </svg>
    </div>
  </div>
  <div class="relative w-full px-6 py-16 opacity-0 group-hover:opacity-100">
    <div
      class="absolute left-0 top-0 z-50 h-full w-full rounded-3xl bg-white/80">
      <div
        class="flex h-full w-full flex-col items-center justify-center text-white">
        <span class="flex items-center text-3xl text-zinc-900">
          {data.title}
          <svg
            class="-mr-1 ml-2 mt-0.5 stroke-[currentColor] stroke-2"
            fill="none"
            width="11"
            height="11"
            viewBox="0 0 10 10"
            aria-hidden="true">
            <path d="M0 5h7"></path>
            <path class="translate-x-[3px]" d="M1 1l4 4-4 4"></path>
          </svg>
        </span>
        <span class="text-md text-black/90">
          {data.quantifiable_change_description}
        </span>
      </div>
    </div>

    <div class="relative mx-auto h-44 max-w-md overflow-hidden">
      <div class="absolute inset-y-0 left-0 z-40 w-10"></div>
      <div class="absolute inset-y-0 right-0 z-40 w-10"></div>
      <div class="relative flex h-full flex-col divide-y divide-dashed">
        <div class="h-full"></div>
        <div class="h-full"></div>
        <div class="h-full"></div>
        <div class="h-full"></div>
        <div class="h-full"></div>
        <div class="h-full"></div>
        <div
          class="absolute left-1/2 h-full w-0.5 bg-slate-200"
          style="opacity: 0;">
        </div>
      </div>
      <div
        class="absolute left-1/2 top-1/2 z-50 -translate-x-1/2 -translate-y-1/2 transform">
        <div
          class="mt-10 transition-all duration-700 ease-in-out group-hover:translate-x-[-60px]">
          <svg
            width="510"
            height="137"
            viewBox="0 0 510 137"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              class="stroke-black/30"
              d="M507.999 25.217L505.22 23.6041L502.442 22.4863L499.663 20.171L496.884 19.1253L494.105 18.1993L491.326 20.7058L488.548 21.6961L485.769 24.1629L482.99 25.3924L480.211 25.1851L477.432 25.8636L474.538 25.9675L471.759 23.8997L468.98 24.2909L466.201 23.7555L463.423 22.8775L460.644 21.3368L457.865 18.2149L455.086 16.8658L452.307 15.405L449.529 14.0078L446.75 11.788L443.971 8.82599L441.192 6.7023L438.413 4.73844L435.635 2.82209L432.856 2L430.077 2.25541L427.298 2.43089L424.519 4.55458L421.741 7.73229L418.962 11.1252L416.183 12.7861L413.404 14.7902L410.625 15.652L407.847 15.6123L405.068 14.3431L402.289 13.3288L399.51 13.3606L396.732 14.8221L393.953 15.8839L391.174 17.209L388.395 18.5424L385.616 19.8278L382.838 19.692L380.059 20.1391L377.28 19.165L374.501 18.5262L371.722 18.0473L368.944 18.8057L366.165 21.3127L363.386 26.1827L360.607 29.4962L357.828 32.9533L355.05 34.526L352.271 36.0109L349.492 36.961L346.713 37.2963L343.934 37.7752L341.156 35.8673L338.377 33.3283L335.598 32.5856L332.819 31.8116L330.04 30.5022L327.262 28.7294L324.483 24.7615L321.704 23.3409L318.925 22.4305L316.146 22.4143L313.368 21.0573L310.589 20.8578L307.81 18.0791L305.031 17.1134L302.252 16.0197L299.474 14.375L296.695 12.6022L293.916 12.0434L291.137 10.1432L288.358 10.3908L285.58 9.30494L282.801 7.99551L277.243 7.53277L274.465 6.62238L271.686 5.28949L268.907 4.71441L266.128 3.74031L263.349 2.98975L260.571 3.0937L257.792 3.63636L255.013 4.49087L252.234 6.26303L249.455 9.37703L246.677 11.3889L243.898 12.8817L241.119 15.1412L238.34 17.8315L235.561 20.7058L232.783 23.3409L230.004 24.211L227.225 27.2048L224.446 29.6477L221.667 31.963L218.889 33.0567L216.11 35.1245L213.331 37.5998L210.552 40.6014L207.773 45.5356L204.995 49.7428L202.216 54.3735L199.437 57.639L196.658 60.8245L193.879 61.6069L191.101 61.7428L188.322 60.5691L185.543 62.661L182.764 60.4015L179.986 56.2977L177.207 51.4596L174.428 48.881L171.649 45.4557L168.87 42.3099L166.092 37.5595L163.313 35.2285L160.534 36.9129L157.755 37.7115L154.976 38.0066L152.198 40.7853L149.419 42.6614L146.64 44.1463L143.861 45.0008L141.082 45.743L138.304 46.9725L135.525 46.5097L132.746 44.1066L129.967 41.1363L127.188 39.0047L124.41 38.0306L121.631 36.8252L118.852 35.452L116.073 35.2123L113.294 37.1767L110.516 36.5061L107.737 35.8354L104.958 34.1186L102.179 31.6355L99.4004 29.608L96.6216 27.1411L93.8429 24.8895L91.064 25.217L88.2853 22.9094L85.5065 21.8079L82.7277 19.1169L79.9489 15.9236L77.1701 14.9098L74.3913 13.1052L71.6125 10.6546L68.8337 11.2291L66.0549 11.285L63.2761 13.4964L60.4973 15.8196L57.7185 15.9795L54.9397 17.1849L52.1609 18.3111L49.3821 18.3429L46.6033 18.9817L43.8245 19.3248L41.0457 19.1091L38.2669 21.7118L35.4881 22.7021L32.7094 22.9971L29.9306 22.4305L27.1517 22.5344L24.373 21.6318L21.5941 20.9774L18.8153 19.0052L16.0366 19.6199L13.2578 20.0111L10.479 23.6762L7.70015 23.285L4.92136 23.6762L2.14258 23.7958"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <img
    src={data.img}
    alt={data.img_alt || ""}
    class="absolute left-0 top-0 h-full w-full rounded-3xl bg-cover object-cover"
    loading="lazy"
    decoding="async"
  />
</a>
