---
import { getCollection } from "astro:content";

import NestedMenuItem from "./NestedMenuItem.astro";

let blogs = await getCollection('blogs');
let links = await getCollection('links');
let contacts = links.filter(link => link.data.type === 'contact');
let socials = links.filter(link => link.data.type === 'social');

let itemsTop = [
  {
    label: 'Home',
    href: '/',
  },
  {
    label: 'Blog',
    children: [
      ...blogs.map((blog) => ({
        label: blog.data.title,
        href: `/blogs/${blog.slug}`,
        isNew: blog.data.isNew,
      }))
    ],
    icon: {
      name: 'ic:round-article',
      classList: 'me-2.5 text-xl text-red-800 dark:text-amber-500'
    },
    open: true,
  },
]

const { class: classList } = Astro.props;
---
<nav class:list={[classList, "px-4 pb-4 pt-20 border-neutral-400/5 border-r bg-neutral-50 dark:bg-dark-gradient font-['Barlow'] tracking-wide h-full max-w-80 sm:max-w-full w-96"]}>
  <ul class="[&>li>label]:font-[500] [&>li>a]:font-[500] flex flex-col gap-1.5 sm:gap-3 h-full">

    {itemsTop.map((sideNavItem) => <NestedMenuItem item={sideNavItem} /> )}

    <li class="mt-auto my-2">
      <span class="flex h-[1px] w-full bg-neutral-800/10 dark:bg-neutral-400/10"></span>
    </li>
    <li class="flex w-full justify-between mb-2">
      {contacts.map(contact =>
        <a href={contact.data.href} aria-label={contact.data.label} title={contact.data.value} target="_blank" class="inline-grid place-content-center p-2.5 sm:p-3 rounded-lg text-neutral-600 dark:text-neutral-400 outline-none outline-1 hover:bg-neutral-400/10 hover:text-neutral-800 focus:text-neutral-800 dark:hover:text-neutral-200 dark:focus:text-neutral-200 focus:bg-neutral-400/10 focus:border-transparent focus:outline-red-800/50 dark:focus:outline-amber-500/50 duration-200">
          <iconify-icon icon={contact.data.icon} class="size-5" height="unset" />
        </a>
      )}
      <div class="w-[1px] border-r border-neutral-800/10 dark:border-neutral-400/10"></div>
      {socials.map(contact =>
        <a href={contact.data.href} aria-label={contact.data.label} title={contact.data.value} target="_blank" class="inline-grid place-content-center p-2.5 sm:p-3 rounded-lg text-neutral-600 dark:text-neutral-400 outline-none outline-1 hover:bg-neutral-400/10 hover:text-neutral-800 focus:text-neutral-800 dark:hover:text-neutral-200 dark:focus:text-neutral-200 focus:bg-neutral-400/10 focus:border-transparent focus:outline-red-800/50 dark:focus:outline-amber-500/50 duration-200">
          <iconify-icon icon={contact.data.icon} class="size-5" height="unset" />
        </a>
      )}
    </li>
    <li>
      <a href="/contact" class="flex justify-center items-center px-4 py-2 rounded-lg bg-red-800 dark:bg-amber-500 dark:text-black dark:hover:bg-amber-600 text-white hover:bg-red-800 duration-200 focus-visible:outline-red-800 dark:focus-visible:outline-amber-500 focus:outline-1 outline-none">
        Contact Me
      </a>
    </li>
  </ul>
</nav>

