---
import {getCollection} from "astro:content";
import { Image } from 'astro:assets';
import moment from 'moment';

import Layout from "@layouts/Layout.astro";
import myImage from "@assets/images/me.webp";
import { calculateReadingTime } from "../../utils.js";
import SideNavItem from "@components/SideNav/SideNavItem.astro";

export async function getStaticPaths() {
  const blogs = await getCollection('blogs');

  return blogs.map(blog => {
    return {
      params: { blog: blog.slug },
      props: { blog }
    }
  });
}

const { blog } = Astro.props;
const { Content: BlogContent, headings } = await blog.render();

let result = [];
let stack = [];

headings.forEach(heading => {
  const item = {
    label: heading.text,
    href: `#${heading.slug}`
  };

  const parent = stack[heading.depth - 2];
  if (parent) {
    if (!parent.children) {
      parent.children = [];
    }
    parent.children.push(item);
  } else {
    result.push(item);
  }

  stack[heading.depth - 1] = item;
});
---
<Layout title={blog.data.title} description={blog.data.description} og_image={blog.data.image.src}>

  <div class="flex items-start gap-12">
    <div class="hidden lg:block mt-16 sticky top-24 bg-white dark:bg-dark-gradient bg-fixed max-w-80 w-full border border-neutral-800/10 dark:border-neutral-800/50 rounded-xl shadow shadow-red-800 dark:shadow-amber-500 p-6">
      <span class="inline-flex items-center font-semibold">
        <iconify-icon icon="oui:table-of-contents" class="text-orange-800 dark:text-amber-500 me-2.5"/>
        Table of Contents
      </span>
      <ul class="flex flex-col flex-wrap gap-2 h-full mt-2">
        {result.map(item => {return <SideNavItem item={item} collapsible={false} />})}
      </ul>
    </div>

    <article class="mx-auto max-w-2xl mt-8 sm:mt-16">
      <h1 class="text-3xl sm:text-4xl font-semibold dark:text-neutral-200 mt-2 sm:mt-4">
        {blog.data.title}
      </h1>

      <h2 class="text-lg sm:text-xl text-neutral-600 dark:text-neutral-300 mt-4 sm:mt-8">
        {blog.data.description}
      </h2>

      <div class="flex items-center justify-between mt-4 sm:mt-8">
        <div class="inline-flex items-center">
          <Image src={myImage} alt="Christian Tanul" class="size-8 rounded-full sm:size-10 object-cover shadow" />
          <div class="ms-3 sm:ms-4 flex flex-col">
            <span class="mb-0.5 sm:mb-1 text-xs sm:text-sm">Christian Tanul</span>
            <p class="text-xs sm:text-sm font-semibold">
              {calculateReadingTime(blog.body)} min read <span class="mx-1">•</span>
              {moment(blog.data.pubDate).format("MMM DD, YYYY")}
            </p>
          </div>
        </div>
      </div>

      <div class="my-4 sm:my-8 h-[1px] w-full bg-neutral-800/10 dark:bg-neutral-400/5" />

      <div class="mx-auto max-w-full prose prose-neutral dark:prose-invert dark:prose-p:text-neutral-300 prose-img:rounded-xl prose-headings:relative prose-headings:-mt-20 prose-headings:pt-20 prose-headings:-z-10">
        <BlogContent slot="content" />
      </div>
    </article>
  </div>
</Layout>