---
import { getCollection } from "astro:content";

import TopNav from "@components/TopNav.astro";
import SideNav from "@components/SideNav.astro";

// Styles
import '../css/global.css';

// Fonts (from Fontsource)
import '@fontsource/barlow/400.css';
import '@fontsource/barlow/600.css';
import '@fontsource-variable/sora';

import { ViewTransitions } from "astro:transitions";

let links = await getCollection('links');
let socials = links.filter((link) => link.data.type === 'social');

const { title, description, keywords='', og_image='' } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <!-- Title and description -->
  <title>{title}</title>
  <meta name="description" content={description} />

  <!-- Open Graph -->
  <meta name="author" content="Tanul Christian" />
  <meta property="og:title" content={title} />
  <meta
    property="og:description"
    content={description}
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://tanulchristian.dev/" />
  {og_image && <meta property="og:image" content={og_image} />}
  {keywords && <meta name="keywords" content={keywords} />}

  <!-- Favicon -->
  <link id="favicon" rel="icon" type="image/webp" sizes="32x32" href="/logo-white.webp" />

  <!-- Web Component - <icon-iconify/> -->
  <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

  <!-- Astro View Transitions -->
  <ViewTransitions />
</head>

<body class="relative font-['Barlow'] text-neutral-800 dark:text-neutral-300 bg-gradient-to-br from-neutral-50 to-neutral-100 dark:bg-dark-gradient">

<!-- Backgrounds as separate elements (for transitions to work) -->
<div id="dark-mode-background" class="-z-10 opacity-100 dark:opacity-0 duration-500 fixed h-dvh w-screen bg-gradient-to-br from-neutral-50 to-neutral-100"></div>
<div id="light-mode-background" class="-z-10 opacity-0 dark:opacity-100 duration-500 fixed h-dvh w-screen bg-dark-gradient"></div>

<!-- Navigation -->
<TopNav class="sticky top-0 z-30" />
<SideNav class="fixed top-0 -left-96 side-nav-open:left-0 z-20 duration-200 ease-out" />
<label id="side-nav-backdrop" for="side-nav-toggle" class="fixed z-10 top-0 left-0 invisible opacity-0 side-nav-open:visible side-nav-open:opacity-100 duration-200 bg-black/50 mt-[calc(4rem+1px)] w-screen h-screen cursor-pointer"></label>

<!-- Main Content -->
<main class="mx-auto w-full max-w-6xl px-4 sm:px-8 animate-fade">
  <slot />
</main>

<!-- Footer -->
<footer class="flex flex-col items-center justify-center mb-4 mt-16">
  <div class="flex gap-4">
    {socials.map((link) => (
      <a
        href={link.data.href}
        class="text-neutral-600 hover:text-neutral-800 dark:text-neutral-400 hover:dark:text-neutral-300 duration-300"
        target="_blank"
        aria-label={link.data.label}>
        <iconify-icon icon={link.data.icon} />
      </a>
    ))}
  </div>

  <span class="text-xs text-neutral-700 dark:text-neutral-400 mt-4">Copyright © {new Date().getFullYear()} Christian Tanul</span>
</footer>

</body>
</html>

<style is:global>
    /* To avoid layout shift */
    iconify-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
    }
</style>