---
import { getCollection } from "astro:content";

import TopNav from "@components/TopNav.astro";
import SideNav from "@components/SideNav.astro";

// Styles
import '../css/global.css';

// Fonts (from Fontsource)
import '@fontsource/barlow/400.css';
import '@fontsource/barlow/500.css';
import '@fontsource-variable/sora';

import { ViewTransitions } from "astro:transitions";

let links = await getCollection('links');
let socials = links.filter((link) => link.data.type === 'social');

const { title, description, keywords='', og_image='' } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <!-- Title and description -->
  <title>{title} | Christian Tanul</title>
  <meta name="description" content={description} />

  <!-- Open Graph -->
  <meta name="author" content="Christian Tanul" />
  <meta property="og:title" content={`${title} | Christian Tanul`} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content="https://tanulchristian.dev" />
  {og_image && <meta property="og:image" content={"https://tanulchristian.dev" + og_image} />}
  {keywords && <meta name="keywords" content={keywords} />}

  <slot name="after-open-graph-meta">
    <meta property="og:type" content="website" />
  </slot>

  <!-- Favicon (dark & light mode) -->
  <link rel="icon" href="/favicon.svg" />

  <!-- Web Component - <icon-iconify/> -->
  <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

  <!-- Astro View Transitions -->
  <ViewTransitions />

  <!-- Theme Switcher Logics -->
  <script is:inline>
    function setDarkMode(document, theme = null) {
      theme = theme || localStorage.getItem('theme') || 'auto';

      if (theme === 'auto') {
        localStorage.removeItem('theme');
        document.documentElement.classList.toggle('dark', window.matchMedia('(prefers-color-scheme: dark)').matches);
      } else {
        document.documentElement.classList.toggle('dark', theme === 'dark');
        localStorage.setItem('theme', theme);
      }
    }

    {/* Set theme on load */}
    setDarkMode(document);

    {/* Fixes FOUC during view transitions */}
    document.addEventListener('astro:before-swap', e => setDarkMode(e.newDocument));

    {/* Updates theme when system preference changes */}
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => setDarkMode(document));
  </script>
</head>

<body class="flex flex-col justify-between min-h-screen relative font-['Barlow'] text-neutral-800 dark:text-neutral-300 bg-gradient-to-br from-neutral-50 to-neutral-100 dark:bg-dark-gradient">

<!-- Backgrounds as separate elements (for transitions to work) -->
<div id="dark-mode-background" class="-z-10 opacity-100 dark:opacity-0 transition-opacity duration-300 fixed h-screen w-screen bg-gradient-to-br from-neutral-50 to-neutral-100"></div>
<div id="light-mode-background" class="-z-10 opacity-0 dark:opacity-100 transition-opacity duration-300 fixed h-screen w-screen bg-dark-gradient"></div>

<!-- Navigation -->
<TopNav class="sticky top-0 z-30" />
<SideNav class="fixed top-0 -left-96 side-nav-open:left-0 z-20 duration-200 ease-out" />
<label id="side-nav-backdrop" for="side-nav-toggle" class="fixed z-10 top-0 left-0 invisible opacity-0 side-nav-open:visible side-nav-open:opacity-100 transition-opacity bg-black/50 mt-[calc(4rem+1px)] w-screen h-screen cursor-pointer"></label>

<!-- Main Content -->
<main class="mx-auto w-full max-w-6xl px-4 sm:px-8 animate-fade">
  <slot />
</main>

<slot name="footer">
  <!-- Footer -->
  <footer class="flex flex-col items-center justify-center mb-4 mt-16">
    <div class="flex">
      {socials.map((link) => (
        <a
          href={link.data.href}
          class="inline-grid place-items-center p-2 text-neutral-600 hover:text-neutral-800 focus-visible:text-neutral-800 dark:text-neutral-400 dark:hover:text-neutral-300 dark:focus-visible:text-neutral-300 duration-200 outline-none outline-1 focus-visible:outline-red-800 dark:focus-visible:outline-amber-500 rounded-lg"
          target="_blank"
          aria-label={link.data.label}>
          <iconify-icon icon={link.data.icon} />
        </a>
      ))}
    </div>

    <span class="text-xs text-neutral-700 dark:text-neutral-400 mt-4">Copyright © {new Date().getFullYear()} Christian Tanul</span>
  </footer>
</slot>

</body>
</html>

<style is:global>
    /* To avoid layout shift */
    iconify-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
    }
</style>